extends layout

block mainContent	
  form.form-signin(action=accountURL(), method='POST')
    h2.form-signin-heading Welcome !
    p Please use this form to sign up.
    input.input-block-level(type='text', name='email', placeholder='email address')
    input.input-block-level(type='password', name='password', placeholder='password')
    input.input-block-level(type='text', name='name.first', placeholder='first name')
    input.input-block-level(type='text', name='name.last', placeholder='last name')
    button.btn.btn-large.btn-primary(type='submit') Register